:root {
    --pink_strong: #c94090;
    --green_strong: #accc56;
    --pink_soft: #e9accf;
    --green_soft: #dbebaf;
    --text-dark: #333333;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Voltaire", sans-serif;
}

.voltaire-regular {
    font-family: "Voltaire", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    position: fixed;
    width: 100%;
    background-color: var(--white);
    left: 0;
    top: 0;
    z-index: 4;
}

.nav-branding {
    color: var(--pink_strong);
    font-size: 2rem;
}

.nav-branding span {
    color: var(--green_strong);
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--pink_strong);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24 px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--green_strong);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px; 
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--green_strong);
}

@media(max-width:768px){
    .hamburger {
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--white);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;  
    }

    .hero {
        height: 100vh;
        display: grid;
        grid-template-rows: 50vh 1fr;
    }

    .hero-img {
        width: 100vw;
    }

    .hero-text {
        display: flex;
        flex-direction: row;
    }
}

.hero {
    background-color: var(--green_soft);
    height: 100vh;
    display: grid;
    grid-template-columns: 50vw 1fr;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Voltaire", sans-serif;
    padding: 20px;
    color: var(--pink_strong);

}

.hero-text h1 {
    font-size: 8em;
}

.hero-text span {
    color: var(--green_strong);
}

.hero-text h4{
    font-size: 2rem;
    margin-top: 8%;
    font-weight: 200;
}

.hero-cta {
    width: 80%;
    font-size: 1.3rem;
    margin-top: 17%;
    text-align: center;
}

.hero-cta input{
    height: 3rem;
    width: 50%;
    text-align: center;
    padding: 20px;
    color: var(--green_strong);
    border: none;
    margin-top: 10px;
}

.hero-cta button {
    height: 3rem;
    padding: 5px;
    background-color: var(--green_strong);
    color: var(--white);
    border-radius: 10%;
    border: none;
}

.hero-cta button:hover {
    background-color: var(--pink_strong);
    color: var(--green_soft);
}


.hero-img {
    height: 100vh;
    overflow: auto;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.features-title {
    font-family: "Voltaire", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
    color: var(--green_strong);
    text-align: center;
    margin-top: 25px;
}

.features-title span {
    color: var(--pink_strong);
}

.feature {
    flex: 1;
    max-width: 30%;
    margin: 25px;
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    margin-top: 15px;
    font-size: 20px;
    color: var(--pink_strong);
}

.feature p {
    margin: 10px 0;
    color: var(--text-dark);
}

.feature:hover {
    background-color: var(--green_soft);
    transition: background-color 0.3s ease;
}

footer {
    position: inherit;
    background-color: var(--green_soft);
    color: var(--pink_strong);
    text-align: center;
    width: 100vw;
    max-height: fit-content;
    padding: 25px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 25px;
    margin-bottom: 30px;
}

.footer-container ul {
    text-align: center;
    
}

.footer-title {
    font-family: "Voltaire", sans-serif;
    font-size: 3em;
    color: var(--green_strong);
}

.footer-link {
    color: var(--pink_strong);
    font-size: 1.3em;
}